apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: addeso-deployment 
spec: 
  replicas: 3 
  selector:
    matchLabels:
      app: web
  template: # Pod Definiation 
    metadata: 
      labels:
        app: web 
    spec: 
      containers:
        - image: muralisocial123/devops-java:v1.1.0
          name: azure-devops-cont 
          ports:
            - containerPort: 8080
--- 
apiVersion: v1 
kind: Service
metadata: 
  name: addeso-deployment-svc 
spec: 
  selector: 
    app: web 
  ports: 
    - port: 8081 # Service Port 
      targetPort: 8080 
      protocol: TCP 
  type: LoadBalancer     

 
